:root{
  --bg: #000;
  --white: #fff;
  --second-color: hsla(0,0%,100%,.2);
  --light-grey: #a3a8a8;
  --blue: #38a0f0;
  --max-content-width: 1440px;
  --mid-grey-darker: #46484a;
}

.App{
  background: var(--bg);
  font-family: Universal Sans Display\ 300,Helvetica,sans-serif;
}

main {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

main>section{
  min-height: unset;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--light-grey);
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background: var(--mid-grey-darker);
}

@media (min-width: 768px){
  ::-webkit-scrollbar {
    display: block;
  }
  main>section{
    scroll-snap-align: center;
    min-height: 100vh;
  }
}